
.masthead.-type-10 {
  position: relative;
  padding-top: 360px;
  padding-bottom: 205px;
  background: linear-gradient(
    180deg,
    rgba(53, 84, 209, 0.1) 0%,
    rgba(196, 196, 196, 0) 100%
  );

  @include media-below(lg) {
    padding-top: 140px;
    padding-bottom: 60px;
  }

  @include media-below(md) {
    padding-top: 120px;
    padding-bottom: 40px;
  }

  .masthead {
    &__content {
      position: relative;
      z-index: 1;
    }

    &__image {
      position: absolute;
      z-index: 0;
      display: flex;
      top: 160px;
      right: 0;

      @include media-below(lg) {
        top: 0;
        margin-top: 0;
        opacity: 0.2;
      }
    }
  }

  .container-1500 {
    margin: 0 auto;
    max-width: 1530px;
    padding: 0 15px;

    @media (max-width: (1600px)) {
      max-width: 1320px;
    }

    @include media-below(xxl) {
      max-width: 1140px;
    }

    @include media-below(xl) {
      max-width: 960px;
    }

    @include media-below(lg) {
      max-width: 720px;
    }

    @include media-below(md) {
      max-width: 540px;
    }

    @include media-below(sm) {
      max-width: 100%;
    }
  }

  .mainSearch {
    .button-grid {
      grid-template-columns: 1fr 1fr auto auto auto auto;

      @include media-below(lg) {
        grid-template-columns: 1fr;
      }
    }
  }
}
.masthead.-type-11 {
  position: relative;
  padding-top: 50px;
  padding-bottom:60px;

  @include media-below(lg) {
    padding-top: 140px;
    padding-bottom: 60px;
  }

  @include media-below(md) {
    padding-top: 120px;
    padding-bottom: 40px;
  }

  .masthead {
    &__content {
      position: relative;
      z-index: 1;
    }

 
  }

  .container-1500 {
    margin: 0 auto;
    max-width: 1530px;
    padding: 0 15px;

    @media (max-width: (1600px)) {
      max-width: 1320px;
    }

    @include media-below(xxl) {
      max-width: 1140px;
    }

    @include media-below(xl) {
      max-width: 960px;
    }

    @include media-below(lg) {
      max-width: 720px;
    }

    @include media-below(md) {
      max-width: 540px;
    }

    @include media-below(sm) {
      max-width: 100%;
    }
  }

  .mainSearch {
    
    .button-grid {
      grid-template-columns: 1fr 1fr auto auto auto auto;

      @include media-below(lg) {
        grid-template-columns: 1fr;
      }
    }
  }
}
